@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;

}

/* navbar  */
.navbar-toggler {
    /* display: flex; */
    display: none;
}

.toggler .col {
    background-color: blueviolet !important;
}

.navbar-toggler .logo>img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: auto;
    cursor: pointer;
}

.navbar-toggler ul {
    list-style: none;

    display: flex;


}

.navbar-toggler>a {
    display: block;
    padding: 15px 15px;

}


@media screen and (max-width:900px) {
    #uni {
        margin: 5% !important;
    }

    .navbar .social-link,
    .navbar .links {
        display: none;
    }

    .logo img {

        margin: 115px;
    }

    .navbar-toggler {
        margin: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        border: 1px solid saddlebrown;

    }


    .toggler {
        display: inline;
        margin-top: 0px;
    }

    .navbar-toggler .nav {
        position: absolute;
        display: flex;
        top: 100px;
        left: 0;
        border-radius: 10px;
        right: 0;
        width: 100%;
        height: 0px;
        background: #c2bebe;
        flex-direction: column;
        overflow: hidden;
    }

    .navbar-toggler .nav ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        line-height: 18px;
        opacity: 0;

    }

    .navbar-toggler .nav ul li a {
        display: block;
        margin-bottom: 18px;
        font-size: large;
        color: white;
    }

    .nav.active {
        height: 350px;
        transition: 0.5s;
        background-color: black;
        opacity: 1;
    }

    .nav.active ul {
        opacity: 1;
    }

    .nav.active li:hover {
        background-color: aliceblue;

        font-size: larger;
        color: rgb(198, 226, 43);
        width: auto;
        border-radius: 5px;
        text-align: center;

    }

    .nav.active a:hover {
        display: block;
        overflow: hidden;
        color: black;
        transition: .5s;


    }

}


.main-sec {
    display: flex;
    position: sticky;
    top: 0;
    background-color: transparent;
    margin-top: 20px !important;
}

#uni {
    margin: auto 15%;
}

.header {
    display: flex;
    /* border: 1px solid black; */
    /* background-color: aqua; */
    /* margin-top: 110px; */


}

.header ul {

    display: flex;
    list-style: none;
    align-items: center;

}




.links {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 130px;
    right: 80px;
    list-style: none;

}

.links title {
    background-color: blue;
    color: white;
    font-weight: 900;
}

.social-link {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 130px;
    left: 80px;

}

title {
    background-color: blue;
    color: white;
    font-weight: 900;
}


.links a,
.social-link a {
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 15px;
    /* color: blueviolet; */
    color: #750550;
    background-color: transparent;
    font-size: x-large;
    transition: 1s;


}


.links a.tags span {
    display: none;
}

.social-link a.tags span {
    display: none;
}


.links a.tags:hover span {
    border: #c0c0c0 1px dotted;
    padding: 3px;
    display: block;
    background-color: #980F5A;
    text-transform: capitalize;
    color: white;
    font-size: x-small;
    font-weight: 900;
    /* z-index: 100; */
    /* background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%; */


    /* margin: 10px; */
    width: 80px;
    overflow: hidden;
    height: 17px;

    border-radius: 50%;
    text-align: center;
    position: fixed;
    top: 5rem;
    right: 70px;
    text-decoration: none
}

.links a:active {
    border-bottom: 1px solid #980F5A;
}

.social-link a.tags:hover span {
    border: 1px dotted rosybrown;
    padding: 3px;
    display: block;
    background-color: #980F5A;
    text-transform: capitalize;
    color: white;
    font-size: x-small;
    font-weight: 900;

    width: 80px;
    overflow: hidden;
    height: 17px;

    border-radius: 50%;
    text-align: center;
    position: fixed;
    top: 5rem;
    left: 70px;
    text-decoration: none;
    scale: 1;
}

.links a:hover,
.social-link a:hover {
    color: #6D67E4;
    overflow: hidden;
    transition: 0.3s;

}



/* home section  */

.home-sec {
    display: flex;
    /* border: 1px solid red; */
    margin: 10px;
}

.home-sec .about {
    width: 50%;
    text-transform: capitalize;
    color: black;
    margin-top: 110px;
    text-align: justify;
    font-weight: 500;
}

.home-sec .about button {
    background: rgb(57, 57, 152);
    background: linear-gradient(90deg, rgba(57, 57, 152, 1) 5%, rgba(0, 212, 255, 1) 100%);
    width: 150px;
    height: 45px;
    margin: 10px;
    color: white;
    font-size: normal;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;

}

.home-sec .image-sec {
    width: 50%;
}

.image-sec img {

    width: 70%;
    height: 70%;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 120px;
    margin-left: 30px;


}

#typing-effect {
    font-family: monospace;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
}


/* scroll  */

.scroll {

    margin: 120px 45%;
}


.scroll img {
    width: 48px;
    cursor: pointer;
}

/* .scroll img:hover {
 
} */

.services-main {
    color: blueviolet;
    text-align: center;
    margin: 75px auto;
}

.service-sec {
    display: flex;
    margin: 55px auto;

}

/* .service-sec h3{
    margin: 10px ;
} */

.service-sec-25 {
    width: 25%;
    margin: 10px;
    text-align: justify;
    padding: 15px;
    background-color: white;
    color: black;
    font-style: initial;
    box-shadow: 5px 7px 7px rgba(161, 150, 150, 0.3);
    border-radius: 15px;

}

.service-sec-25 .fa-solid {
    padding: 5px;
    float: inline-start;
    margin: 0px 35%;


}

.service-sec-25 button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.service-sec-25 .fa-solid {
    color: blueviolet;
    font-size: large;
}


/* skills section  */
.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* gap: 20px;  */
    /* border: 1px solid black; */
    justify-content: space-between;

}

.container .card {
    position: relative;
    display: flex;
    /* background-color: aqua; */
    /* background: linear-gradient(0deg, #f6f6f8, #cdcbd6, hwb(60 99% 0%)); */

    width: 250px;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    transition: 0.5s;
    height: 250px;
    cursor: pointer;

}

.container .card:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 14px 5px black; */

}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1000;

}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: white;

}

.percent .number h2 {
    color: darkorange;
    font-weight: 500;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .number h2 {
    font-size: 50px;
}

.percent .number h2 span {
    font-size: 24px;
}

.test {
    position: relative;
    font-weight: 700;
    font-size: 25px;
    transition: 0.5s;
    letter-spacing: 1px;
    text-transform: uppercase;

}




svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
    animation: fillbars 0.7s 1;

}

@keyframes fillbars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

svg circle {
    width: 100%;
    height: 100%;
    stroke: hwb(60 95% 4%);
    fill: none;

    stroke-width: 7;
    stroke-linecap: round;
    transform: translate(5px, 5px);

}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;

}


.card:nth-child(1) svg circle:nth-child(2) {


    stroke-dashoffset: calc(440 - (440 * 95)/100);
    stroke: rgb(255, 0, 0);
}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90)/100);
    stroke: rgb(255, 157, 0);
}

.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 86.5)/100);
    stroke: crimson;
}

.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80)/100);
    stroke: forestgreen;
}

.card:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 75)/100);
    stroke: rgb(54, 57, 57);
}

.card:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70)/100);
    stroke: rgb(55, 0, 255);
}


/* professional skills  */
.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;


}

.skill-name {
    /* font-size: 10px; */
    color: blue;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar {
    height: 16px;
    border-radius: 3px;
    background-color: darkgray;
}

.skill-per {
    height: 16px;
    background-color: fuchsia;
    position: relative;
    animation: fillbars 1s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px;
    background: rgb(106, 20, 211);
    border-radius: 4px;
    font-size: 18px;
    top: -35px;
    right: 0;
    color: white;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    width: 10px;
    height: 10px;
    background: rgb(106, 20, 211);
    position: absolute;
    top: -12px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}


/* contact section  */
.say-hi {
    background-color: blueviolet;
}

.say-hi .icons a,
.fa-solid {
    /* color: white; */
    margin-left: 20%;

}

.say-content {
    width: 100%;
    background-color: blueviolet;
    height: 100%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.say-content p,
h3 {
    color: white;
    font-size: larger;

}

.say-content a {
    background-color: white;
    font-size: 16px;
    padding: 10px;
    width: 120px;
    text-align: center;
    margin: 15px;
    border: none;
    font: optional;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    text-transform: capitalize;

}

.say-content a:hover {
    /* border:1px solid black; */
    color: white;
    overflow: hidden;
    background-color: goldenrod;
}




/* say hello section  */
.contact {
    margin: 125px auto;
    /* border: 1px solid black; */

}

.contact h1,
h5 {
    text-align: center;
    margin-top: 0px;
}

.contact-main {
    display: flex;

}

.contact-main .contact-main-30 {
    width: 40%;
    /* border: 1px solid black; */
    /* margin: 5px auto; */
    color: black;

}

.contact-main .contact-main-30 .fa-solid,
a {
    color: black;
    text-decoration: none;
    margin: auto 10px;
}

.contact-main .contact-main-70 {
    width: 60%;
}



/* testonomial sec  */
.testo-card {
    display: flex;
    align-content: center;
    align-items: center;
}

.test-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 950px; */
}

.test-descr img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: black;
}


/* hire me section  */

.contact-main-70 a {
    background-color: blueviolet;
    font-size: 16px;
    padding: 10px;

    width: 120px;
    text-align: center;
    /* margin: 25px; */
    text-align: center;
    border: none;
    font: optional;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: white;
    /* border-radius: 10px; */
    text-transform: capitalize;

}

.contact-main-70 a:hover {
    scale: 0.5s;
    background-color: goldenrod;
}

.contact-main-70 form {
    /* background-color: aquamarine; */
    align-items: center;
}

.contact-main-70 form>input,
textarea {
    width: 100%;
    background-color: transparent;
    outline: none;
    text-align: center;
}

.form-sec {
    width: 70%;
    margin: 5px auto;
}

.form-sec input,
textarea {
    height: 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    resize: none;
    margin: 5px auto;
}

.form-sec label {
    font-size: 18px;
    font-weight: 500;
}




/* scroll up  */
/*Scroll to top button*/
#scrollTop {
    display: none;
    font-size: 380%;
    right: 30px;
    bottom: 30px;
    width: 5%;
    height: 10%;
    text-align: center;
    position: fixed;
    border: 1px solid rgb(0, 0, 255);
    background-color: rgb(183, 183, 255);
    color: rgb(0, 0, 255);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

#scrollTop:hover {
    background-color: rgb(123, 123, 255);
    transition: 0.5s;
}

#scrollTop:active {
    background-color: rgb(0, 0, 148);
}