@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;

}

#uni {
    margin: auto 15%;
}



.links {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 130px;
    right: 80px;
    list-style: none;

}
.links title{
    background-color: blue;
    color: white;
    font-weight: 900;
}

.social-link {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 130px;
    left: 80px;

} 
title{
    background-color: blue;
    color: white;
    font-weight: 900;
}


.links a,
.social-link a {
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 15px;
    color: blueviolet;
    background-color: transparent;
    font-size: x-large;
    transition:  1s;     


}

.links a:hover,
.social-link a:hover {
    color: black;
    overflow: hidden;

}



/* home section  */

.home-sec {
    display: flex;
    /* border: 1px solid red; */
    margin: 10px;
}

.home-sec .about {
    width: 50%;
    text-transform: capitalize;
    color: black;
    margin-top: 110px;
    text-align: justify;
    font-weight: 500;
}

.home-sec .about button {
    background: rgb(57, 57, 152);
    background: linear-gradient(90deg, rgba(57, 57, 152, 1) 5%, rgba(0, 212, 255, 1) 100%);
    width: 150px;
    height: 45px;
    margin: 10px;
    color: white;
    font-size: normal;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;

}

.home-sec .image-sec {
    width: 50%;
}

.image-sec  img {

    width: 70%;
    height: 70%;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 120px;
    margin-left: 30px;
    

}

#typing-effect {
    font-family: monospace;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
}


/* scroll  */

.scroll {

    margin: 120px 45%;
}


.scroll img {
    width: 48px;
    cursor: pointer;
}

/* .scroll img:hover {
 
} */

.services-main{
color: blueviolet;
text-align: center;
margin: 75px auto;
}

.service-sec{
    display: flex;
    margin:55px auto ;
  
}
/* .service-sec h3{
    margin: 10px ;
} */

 .service-sec-25{
    width: 25%;
    margin: 10px;
    text-align: justify;
    padding: 15px;
    background-color: rgb(255, 253, 251);
    color: black;
    font-style: initial;
    box-shadow: 5px 7px 7px  rgba(161, 150, 150, 0.3);
    border-radius: 15px;
   
}
.service-sec-25 .fa-solid {
padding: 5px;
float: inline-start;
margin: 0px 35%;


}
.service-sec-25 button{
    background-color:transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: blue;font-weight: bold;
    cursor: pointer;
}





.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



 
  
