@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap');
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  /* box-sizing: border-box; */
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: beige;
  outline: none;
  font-family: 'Poppins', sans-serif; 

}

::after,
::before {
  box-sizing: border-box;
}

.main-content-sec {
  background-color: aquamarine;
  min-height: 100vh;
  position: fixed;
  left: 270px;
  right: 0;
  top: 0;
  z-index: 0;
  opacity: 1;
  display: block;
}

/* aside style  */

.aside-content {
  /* background-color: aquamarine; */
  width: 270px;
  position: fixed;

  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-items: center;
  border-right: 1px solid sienna;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.aside-content .logo {
  position: absolute;
  top: 20px;
  font-size: 70px;
  text-transform: capitalize;
}

.aside-content .logo img{
  width: 180px;

}
.aside-content ul {
  margin-top: 170px;
}

.aside-content .navbar li {
  margin: 25px auto;
}

.aside-content .navbar a {
  font-weight: bolder;
  color: da;
  font-size: 20px;
  border-bottom: 2px dotted grey;

}
.aside-content .navbar i{
  margin: 0px 7px;
 
}

/* navbar sec  */